<header class="bg-gray-800 text-white p-4">
    <div class="flex justify-between items-center">
      <div class="text-xl font-bold">
        <a href="#">TAILWINDCSS_ACTIVITY BLOG</a>
      </div>
      <nav>
        <ul class="flex space-x-6">
          <li><a href="#" class="hover:text-gray-400">Home</a></li>
          <li><a href="featured-post my-10 px-5" class="hover:text-gray-400">Featured</a></li>
          <li><a href="gallery my-10" class="hover:text-gray-400">Gallery</a></li>
        </ul>
      </nav>
    </div>
  </header>
  